# Virtual environments
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]

# Secrets
.env
.streamlit/secrets.toml

# Jupyter temporary files
.ipynb_checkpoints/

# Operating system files
.DS_Store
Thumbs.db